.item-main {
  display: block;
}
.item-main .article {
  width: 645px;
  float: left;
  padding-right: 40px;
}
.item-main .aside {
  width: 310px;
}
.items a {
  text-decoration: none;
}
.item {
  display: block;
  float: left;
  color: #37a;
  font-size: 13px;
  text-align: center;
  margin: 0 11.25px 10px 0;
  width: 140px;
  text-decoration: none;
}
.item .cover-wp {
  background-size: 100%;
  height: 200px;
  overflow: hidden;
}
.item .cover-wp img {
  border-width: 0;
  vertical-align: middle;
}
.item p {
  margin: 5px 0 0;
  height: 44px;
  overflow: hidden;
}
.item strong {
  color: #e09015;
  margin-left: 5px;
}
table {
  border-collapse: collapse;
  border: none;
  padding: 0;
  margin: 0;
}
table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table td {
  font: 12px Helvetica, Arial, sans-serif;
  line-height: 1.62;
}
.item2 a {
  text-decoration: none;
}
.item2 .pl2 {
  font: 14px Arial, Helvetica, sans-serif;
  line-height: 150%;
  color: #666666;
}
.item2 .pl {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 150%;
  color: #666666;
}
.ul {
  border-bottom: 1px dashed #DDDDDD;
  line-height: 100%;
  clear: both;
}
.intro {
  font: 12px Helvetica, Arial, sans-serif;
  line-height: 1.62;
}
.intro h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #774535;
  line-height: 150%;
  margin: 24px 0 3px 0;
}
.intro .intro_img img {
  width: 500px;
  height: 250px;
}
.intro .intro_comment h2 {
  border-bottom: 1px dashed #ddd;
}
.intro .intro_comment .comment_item {
  margin-bottom: 4px;
  margin-top: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px dashed #ddd;
}
.intro .info p {
  padding: 0;
  margin: 0;
}
.intro-aside {
  width: 230px;
  padding: 10px;
}
.tag span {
  margin-right: 5px;
}
.tag a {
  text-decoration: none;
}
.f-tree .f {
  border-bottom: 1px dashed #d5d5d5;
}
.f .f-name {
  font-size: 16px;
  margin: 5px 0;
}
.f .f-name i {
  margin-right: 5px;
  font-size: 18px;
  color: #c62c30;
}
.sub-f {
  color: #a3a3a3;
  margin-left: 20px;
}
.sub-f .t-name {
  color: #d41210;
}
.sub-f .sub-f-light {
  color: #d41310;
  font-size: 14px;
}
.torrent-f {
  padding: 10px;
}
.torrent-f h2 {
  font: 15px Arial, Helvetica, sans-serif;
  color: #774535;
  line-height: 150%;
  margin: 24px 0 3px 0;
}
.torrent-f p {
  margin: 5px 0;
  font-size: 16px;
}
.torrent-f li {
  border-bottom: 1px dashed #ddd;
}
.content h1 {
  word-wrap: break-word;
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: #494949;
  margin: 0;
  padding: 0 0 15px 0;
  line-height: 1.1;
}
.content h1 span {
  color: #888;
}
.content .article {
  width: 600px;
  padding: 5px;
}
.content .article .pic {
  width: 150px;
}
.content .article .info {
  width: 430px;
  margin-left: 10px;
}
.content .intro-main {
  width: 730px;
  padding: 10px;
}
.pic-item .name {
  font-size: 16px;
  color: #c62c30;
  border-bottom: 1px dotted #d5d5d5;
}
.pic-item .item p {
  font: 12px/1.5 "Microsoft YaHei UI", Arial, Ubuntu;
  text-align: center;
  margin-top: 5px;
}
.pic-item .item p strong {
  color: #e09015;
  margin-left: 3px;
}
