.idea/*
.vagrant/*
Vagrantfile
ERROR.log
*.temp
*.pyc
/SELECT_t___FROM_public_bbs_torrent_t_t.csv
.idea/
SELECT_t___FROM_public_bbs_torrent_t_t.csv

/Vagrantfile
/.vagrant/
.vagrant/
bbs/migrations/0002_auto_20160530_2223.py
bbs/migrations/0003_auto_20160601_1652.py
bbs/migrations/0004_auto_20160601_1654.py
bbs/migrations/0005_auto_20160602_0940.py
bbs/migrations/
btbbs.7z
btbbs.sql
