.idea/*
.vagrant/*
Vagrantfile
ERROR.log
*.temp
/SELECT_t___FROM_public_bbs_torrent_t_t.csv
.idea/
SELECT_t___FROM_public_bbs_torrent_t_t.csv
bbs/__init__.pyc
bbs/admin.pyc
bbs/context_processors.pyc
bbs/migrations/0001_initial.pyc
bbs/migrations/0002_files_ctime.pyc
bbs/migrations/0003_auto_20160323_2214.pyc
bbs/migrations/0004_auto_20160323_2322.pyc
bbs/migrations/0005_auto_20160324_0942.pyc
bbs/migrations/0006_auto_20160324_1021.pyc
bbs/migrations/0007_thread_icon.pyc
bbs/migrations/0008_auto_20160324_2221.pyc
bbs/migrations/0009_auto_20160324_2222.pyc
bbs/migrations/0010_category.pyc
bbs/migrations/0011_auto_20160331_1231.pyc
bbs/migrations/0012_auto_20160331_1232.pyc
bbs/migrations/0013_auto_20160331_1429.pyc
bbs/migrations/0014_auto_20160402_2017.pyc
bbs/migrations/0015_auto_20160402_2230.pyc
bbs/migrations/0016_auto_20160406_2039.pyc
bbs/migrations/0017_auto_20160501_0008.pyc
bbs/migrations/0018_auto_20160501_0135.pyc
bbs/migrations/0019_auto_20160501_0142.pyc
bbs/migrations/0020_movie_douban_id.pyc
bbs/migrations/0021_auto_20160501_1146.pyc
bbs/migrations/0022_auto_20160501_1151.pyc
bbs/migrations/0023_auto_20160501_1210.pyc
bbs/migrations/0024_movie_image.pyc
bbs/migrations/0025_torrent_back.pyc
bbs/migrations/0026_remove_movie_torrent.pyc
bbs/migrations/0027_auto_20160505_1155.pyc
bbs/migrations/0028_auto_20160505_1155.pyc
bbs/migrations/0029_auto_20160506_0032.pyc
bbs/migrations/0030_category.pyc
bbs/migrations/0031_movie_category.pyc
bbs/migrations/0032_auto_20160507_2317.pyc
bbs/migrations/0033_auto_20160507_2319.pyc
bbs/migrations/0034_auto_20160514_2028.pyc
bbs/migrations/0035_auto_20160516_1822.pyc
bbs/migrations/0036_auto_20160526_0011.py
bbs/migrations/0036_auto_20160526_0011.pyc
bbs/migrations/0037_auto_20160526_1719.py
bbs/migrations/0037_auto_20160526_1719.pyc
bbs/migrations/0038_auto_20160526_1722.py
bbs/migrations/0038_auto_20160526_1722.pyc
bbs/migrations/0039_movie_t_movie_duration.py
bbs/migrations/0039_movie_t_movie_duration.pyc
bbs/migrations/0040_t_storage_torrent_t.py
bbs/migrations/0040_t_storage_torrent_t.pyc
bbs/migrations/0041_auto_20160528_2322.py
bbs/migrations/__init__.pyc
bbs/models.pyc
bbs/qiniu_storage.pyc
bbs/sitemap.pyc
bbs/templatetags/__init__.pyc
bbs/templatetags/index_tag.pyc
bbs/templatetags/tag_tag.pyc
bbs/tests.pyc
bbs/urls.pyc
bbs/utils.pyc
bbs/views/__init__.pyc
bbs/views/category.pyc
bbs/views/detail.pyc
bbs/views/download.pyc
bbs/views/index.pyc
bbs/views/tag.pyc
btbbs/__init__.pyc
btbbs/settings.pyc
btbbs/urls.pyc
btbbs/wsgi.pyc
init_db.pyc
