{% extends "bbs/base.html" %}

{% block title %}
bt电影下载 - 高清电影
{% endblock %}
{% block keywords %}
bt电影下载，最新电影，高清电影下载，720p高清电影下载，1080p高清电影下载，720p 1080p电影下载
{% endblock %}
{% block description %}
提供全网最全的高清、720p、1080p电影BT下载。
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
        <div class="col-md-9">
            {% include "bbs/article-list.html" %}
        </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

{% endblock %}