<div class="pic-item">
    <div class="col-md-12">
        <p class="name clearfix">
热门{{ hot.name }}
            <strong class="pull-right"><a href="">更多>></a></strong>
        </p>

    </div>
    {% for obj in hot.objs %}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a class="item" target="_blank" href="{{ obj.get_absolute_url }}">
                <div class="" data-isnew="false" data-id="{{ obj.douban_id }}">
                    <img src="{{ obj.image }}?imageView2/2/w/140/h/200/interlace/0/q/100"
                         alt="{{ obj.name }}" style="width: 140px; height: 200px;opacity: 1;">
                </div>
                {% load index_tag %}
                <p>{{ obj.name|name_tag }}<strong>{{ obj.rating }}</strong></p>

            </a>
        </div>
    {% endfor %}
</div>