<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">

        <div class="panel panel-default panel-list">
                <div class="panel-heading">{{ name }} Torrent和Magnet下载地址</div>
                <div class="panel-body">
                    <ul class="f-tree list-unstyled">
                        <li>
                            asdfasdfasdf
                        </li>
                    </ul>
                    <i class="fa fa-camera-retro" style="color: #c62c30;"></i>
                    <i class="fa fa-magnet" aria-hidden="true"></i>
                </div>
        </div>
    </div>
</body>
</html>