{% extends "base.html" %}

{% block main %}
<div class="col-md-9">
        {% for obj in page_obj %}
                    <div class="tag-item">
                        <table width="100%" class="item2" style="margin-bottom: 3px">
                            <tr class="">
                                <td width="100" valign="top">
                                    <a class="nbg" href="{{ obj.get_absolute_url }}" title="{{ obj.name }}">
                                        <img src="{{ obj.image }}" alt="{{ obj.name }}" class="" style="width: 65px; height: 100px">
                                    </a>
                                </td>

                                <td valign="top">
                                    <div class="pl2">
                                        <a href="{{ obj.get_absolute_url }}" class="">{{ obj.name }}{# / <span style="font-size:12px;">吸特乐回来了(台) / 元首在现代</span></a>#}
                                        <p class="pl">{{ obj.info | striptags}}</p>
                                        <div class="star clearfix">
                                            <span class="allstar40"></span><span class="rating_nums">{{ obj.rating }}</span><span class="pl">(分)</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <p class="ul first"></p>
                    </div>
        {% endfor %}
    {% include "pagination.html" %}
    </div>
    <div class="col-md-3"></div>
{% endblock %}