{% extends "base.html" %}

{% block main %}
<div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'index' %}">返回首页</a></li>
            </ol>
        <div class="tag">
            <div class="article clearfix">
            <div class="page-header">
                <h3>最新{{ name }}</h3>
            </div>
            <p class="order">
                <a href="?type=rating&order=desc">根据豆瓣评分排序</a>
                <a href="?type=pubdate&order=desc">根据上映日期排序</a>
                <a href="?type=year&order=desc">根据年代排序</a>
                {% ifequal slug 'movie' %}
                {% for tag in SETTINGS.MOVIE_TAGS %}
                    <a href="{% url 'tag' tag %}">{{ tag }}</a>
                {% endfor %}
                
                {% endifequal %}
            </p>
                {% for obj in objs %}
                    <div class="tag-item">
                        <table width="100%" class="item2" style="margin-bottom: 3px">
                            <tr class="">
                                <td width="100" valign="top">
                                    <a class="nbg" href="{{ obj.get_absolute_url }}" title="{{ obj.name }}">
                                        <img src="{{ obj.image }}" alt="{{ obj.name }}" class="" style="width: 65px; height: 100px">
                                    </a>
                                </td>

                                <td valign="top">
                                    <div class="pl2">
                                        <a href="{{ obj.get_absolute_url }}" class="">{{ obj.name }}{# / <span style="font-size:12px;">吸特乐回来了(台) / 元首在现代</span>#}</a>
                                        <p class="pl">{{ obj.info | striptags}}</p>
                                        <div class="star clearfix">
                                            <span class="allstar40"></span><span class="rating_nums">{{ obj.rating }}</span><span class="pl">(分)</span>
                                            <span style="margin-left: 20px"><a href="{{ obj.get_absolute_url }}">查看详情</a></span>
{#                                            <span style="margin-left: 20px"><a href="{{ obj.get_absolute_url }}">直接下载</a></span>#}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <p class="ul first"></p>
                    </div>
                {% endfor %}

                    {% include "pagination.html" %}


            </div>

            <div class="aside clearfix"></div>
        </div>




    </div>
{% endblock %}
