<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/intor.css">
</head>
<body>

<div class="intro">
    <div class="intro_summary">
        <h2>如果的事 What If的剧情简介&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·</h2>
        <p>
                                　　Wallace(Daniel Radcliffe)和Chantry(Zoe Kazan)在一次派对上看上了眼，但Chantry已经有稳定的男朋友，因此两人决定只是做朋友这种状况下发展开来。
                        </p>
    </div>

    <div class="intro_img">
        <h2>如果的事 What If的海报和截图&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·</h2>
        <ul class="list-unstyled list-inline">

                <li><img src="http://img.store.sogou.com/net/a/04/link?appid=100140019&url=https://img3.doubanio.com/img/trailer/medium/2188795311.jpg?" alt="图片"></li>

                <li><img src="http://img.store.sogou.com/net/a/04/link?appid=100140019&url=https://img3.doubanio.com/view/photo/photo/public/p2199073341.jpg" alt="图片"></li>

                <li><img src="http://img.store.sogou.com/net/a/04/link?appid=100140019&url=https://img3.doubanio.com/view/photo/photo/public/p2199074031.jpg" alt="图片"></li>

                <li><img src="http://img.store.sogou.com/net/a/04/link?appid=100140019&url=https://img3.doubanio.com/view/photo/photo/public/p2198937963.jpg" alt="图片"></li>

                <li><img src="http://img.store.sogou.com/net/a/04/link?appid=100140019&url=https://img3.doubanio.com/view/photo/photo/public/p2198937874.jpg" alt="图片"></li>

        </ul>
    </div>

    <div class="intro_comment">
        <h2>如果的事 What If的评论&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·&nbsp;&nbsp;·</h2>

        <p class="comment_item"> 喜欢zoe kazan，还好结局不烂
        </p>

        <p class="comment_item"> 挺美好简单的一部作品，丹尼尔在《哈利·波特》后，终于演了部纯净简单的作品。佐伊·卡赞那种别无所求，乖巧可人的样子，给影片增添了温柔的气质。41岁的男导演迈克尔·道斯，拍出这种风格的影片，真是心中有少女啊。在故事上，编剧没有给出什么高潮，反倒是慢慢递进，缓和流淌。看起来倒是会比较舒服
        </p>

        <p class="comment_item"> 一群乱搞男女关系的家伙。男女主能在一起也要感谢这些人。
        </p>

        <p class="comment_item"> 比想象中好看多了！蛋泥五星！蛋泥、卡赞都好cute，有默契；Adam Driver有股魔力，台词就像自己写的一样，有他的片段总特别亮。卡赞妹子的片子都是小文艺+小魔幻吗~情节无甚新意，但卡司非常用心
        </p>

    </div>
</div>
</body>
</html>