<div class="m-top">
    <div class="container">
        <ul class="nav nav-tabs title" role="tablist">
            {% for k, v in types.items %}
                {% if forloop.first %}
                    <li role="presentation" class="active">
                        {% else %}
                    <li role="presentation">
                {% endif %}
            <a href="#{{ k.slug }}" aria-controls="{{ k.slug }}" role="tab" data-toggle="tab">{{ k.name }}</a>
            </li>
            {% endfor %}

        </ul>

        <div class="tab-content">
            {% for k,v in types.items %}
                {% if forloop.first %}
                    <div class="tab-pane active" id="{{ k.slug }}" role="tabpanel">
                {% else %}
                    <div class="tab-pane" id="{{ k.slug }}" role="tabpanel">
                {% endif %}
                    <dl class="dl-horizontal">
                        <dt>{{ k.name }}类型:</dt>
                        <dd>
                {% for value in v %}

                    <span class="cat-items">
                        <a href="{{ value.get_absolute_url }}">{{ value.name }}</a>
                    </span>
                {% endfor %}
                        </dd>
                    </dl>
            </div>
            {% endfor %}
            </div>
        </div>

    </div>
</div>